<%= form_with(model: event) do |form| %>
  <h2><%= title %></h2>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h6><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h6>

      <ul>
        <% event.errors.each do |error| %>
          <li class="form-text text-muted fs-6" style="font-size: 14px"><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <div class="row g-3 mb-3">
      <div class="col">
        <%= form.label :name, "Name", :class => 'form-label' %>
        <%= form.text_field :name, :class => 'form-control' %>
      </div>

      <div class="col">
        <%= form.label :location, "Location", :class => 'form-label' %>
        <%= form.text_field :location, :class => 'form-control' %>
      </div>
    </div>
    
    <div class="row mb-3">
      <div class="col">
        <%= form.label :description, "Description", :class => 'form-label', :rows => 4 %>
        <%= form.text_area :description, :class => 'form-control' %>
      </div>
    </div>

    <div class="row g-3 mb-3">
      <div class="col">
        <%= form.label :start_date, "Start Date", :class => 'form-label' %>
        <%= form.date_field :start_date, :class => 'form-control' %>
      </div>

      <div class="col">
        <%= form.label :end_date, "End Date", :class => 'form-label' %>
        <%= form.date_field :end_date, :class => 'form-control' %>
      </div>
    </div>

    <div class="row g-3 mb-3">
      <div class="col">
        <%= form.label :start_time, "Start Time", :class => 'form-label' %>
        <%= form.time_field :start_time, :class => 'form-control' %>
      </div>

      <div class="col">
        <%= form.label :end_time, "End Time", :class => 'form-label' %>
        <%= form.time_field :end_time, :class => 'form-control' %>
      </div>
    </div>

    <div class="mb-3">
      <%= form.label :is_active, "Event Status" %>
      <div class="form-check">
        <%= form.radio_button  :is_active, 1, :class => 'form-check-input' %>
        <%= form.label :is_active_1, "Make event available", :class => 'form-check-label' %>
      </div>

      <div class="form-check">
        <%= form.radio_button :is_active, 0, :class => 'form-check-input' %>
        <%= form.label :is_active_0, "Make event unavailable", :class => 'form-check-label' %>
      </div>
    </div>

  <h4> Ticket </h4>
  <%= form.fields_for :tickets, form.object.tickets do |ticket_form| %>
    <div class="row g-3 mb-3">
      <div class="col">
        <%= ticket_form.label :name, "Name of Ticket", :class => 'form-label' %>
        <%= ticket_form.text_field :name, :class => 'form-control' %>
      </div>

      <div class="col">
        <%= ticket_form.label :payment_type, "Type", :class => 'form-label' %>
        <%= ticket_form.select :payment_type, ["free", "paid"], {}, {class: 'form-select form-control'} %>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col">
        <%= ticket_form.label :description, "Description", :class => 'form-label' %>
        <%= ticket_form.text_area :description, :class => 'form-control' %>
      </div>
    </div>
      
    <div class="row g-3 mb-5">
      <div class="col">
        <%= ticket_form.label :price, "Price (set 0 for free tickets)", :class => 'form-label' %>
        <%= ticket_form.number_field :price, step: 0.01, min: 0, max: 99999999.99, :class => 'form-control' %>
      </div>

      <div class="col">
        <%= ticket_form.label :available_slots, "Available Slots (use 0 for infinity)", :class => 'form-label' %>
        <%= ticket_form.number_field :available_slots, min: 0, max: 500000000, :class => 'form-control' %>
      </div>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form.submit title, :class => 'btn btn-block btn-primary'  %>
  </div>
  <div class="mb-3">
    <div class="form-text text-muted fs-6" style="font-size: 18px">
      <%= link_to 'Back', events_path, class: "btn btn-outline-warning" %> <% if action_type == 'edit' %> &sdot; <%= link_to 'Show', @event, class: "btn btn-outline-success" %>  <% end %>
    </div>
  </div>
<% end %>
