<div class="row event h-100">
    <div class="col show d-flex align-items-center justify-content-center">
        <% if @event.is_active == 1 %>
            <div class="event-card  mb-4 d-flex justify-content-center">
                <div class="main">
                    <div class="row">
                        <div class="col">
                        <h3><%= @event.name %></h3>
                        <p class="description"><%= @event.description %></p>
                        <p class="location"><i class="fas fa-map-marked-alt"></i> <%= @event.location %></p>
                        <p class="dates"><i class="far fa-calendar-alt"></i> <%= @event.start_date.strftime("%B %d, %Y") %> - <%= @event.end_date.strftime("%B %d, %Y") %></p>
                        <p class="times"><i class="far fa-clock"></i> <%= @event.start_time.strftime("%I:%M %p") %> - <%= @event.end_time.strftime("%I:%M %p") %></p>
                        <p>
                        <a href="<%= event_path(@event) %>" class="btn btn-sm btn-outline-dark" target="blank"> <i class="fas fa-link"></i> Share Link</a>
                        </p>
                        </div>
                        <div class="col ticket">
                            <% ticket = @event.tickets.load.first %>
                            <h4><i class="fas fa-ticket-alt"></i> <%= ticket.name%> </h4>
                            <p class="description"><%= ticket.description %></p>
                            <p>
                            <% if ticket.payment_type == 'free' %>
                            <button class="btn btn-sm btn-outline-success" tabindex="-1" disabled style="opacity: 1">Free</button>
                            <% else %>
                            <button class="btn btn-sm btn-warning" tabindex="-1" disabled style="opacity: 1">Paid</button>
                            <h6>&#8358; <%= ticket.price %></h6>
                            <% end %>
                            </p>
                            <button class="btn btn-lg btn-success">Get Ticket</button>
                        </div>
                    </div>
                </div>
            </div>
        <% else %>
            <div class="event-inactive>
                <div class="row">
                    <div class="col">
                        <h2>Hi there!</h2>
                        <h3 style="font-weight: 100">This event is not available at the moment. You can check back later to see if it is.</h3>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>

